<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= data._id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class="needs-validation">
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location" value="<%= data.location %>" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input type="file" class="form-control" id="image" name="image" multiple>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb">
          <span class="input-group-text" id="price-label">$</span>
          <input type="number" class="form-control" name="price" value="<%= data.price %>" required>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" required><%= data.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-info">Update Campground</button>
      </div>

      <div class="mb-3">
        <% data.images.forEach(function(img, i) { %>
          <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
          <div class="form-check-inline">
            <input type="checkbox" id="img-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
            <label for="img-<%= i %>">Delete</label>
          </div>
        <% }) %>
      </div>
      
    </form>
    <a href="/campgrounds/<%= data._id %>">Back to Campground</a>
  </div>
</div>
